<html>
    <head>
        <title>Welcome to {{ item.value.name }}</title>
    </head>
    <body>
        <h1>Success! The {{ item.value.name }} server block is working!</h1>
        vhostname: {{ item.value.name }}
    </body>
</html>