server {
  listen {{ port_num }};

  root /var/www/{{ virtualhosts[2].name }}/html;
  index index.html index.htm;

  server_name {{ virtualhosts[2].name }};
  
  location / {
   default_type "text/html";
   try_files $uri.html $uri $uri/ =404;
  }
}