{% for virtualhost in virtualhosts.values() %}
server {
  listen {{ port_num }};

  root /var/www/{{ virtualhost.name }}/html;
  index index.html index.htm;

  server_name {{ virtualhost.name }};

  location / {
    default_type "text/html";
    try_files $uri.html $uri $uri/ =404;
  }
}
{% endfor %}