upstream backend {
{% for backend in backends %}
  server {{ backend }}:80;
{% endfor %}
}
server {
  listen {{ port_num }};
  server_name {{ short_lb }} www.{{ short_lb }} {{ virtualhost }} www.{{ virtualhost }};
  root /var/www/{{ virtualhost }}/html;
  index index.html index.htm;

  access_log /var/log/nginx/{{ virtualhost }}_access.log;
  error_log /var/log/nginx/{{ virtualhost }}_error.log;

  location /.well-known/acme-challenge {
    root /var/www/{{ virtualhost }}/html/letsencrypt;
    try_files $uri $uri/ =404;
  }

  location / {
    proxy_pass http://backend;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Real-IP $remote_addr;
  }
}